# Importing the necessary libraries

In [ ]:
# Imports pandas, which is a power data analysis and manipulation library for Python
import pandas as pd

# Loading in the data and inspection

In [13]:
#Loads the dataset from the CSV file in pandas datafarme "data"
data = pd.read_csv('terrorism-deaths.csv')

# Displays the first five rows of the dataframe using the .head() method
print(data.head())

# Gathers information on the dataset
print(data.info())

        Entity Code  Year  Terrorism deaths
0  Afghanistan  AFG  1970                 0
1  Afghanistan  AFG  1971                 0
2  Afghanistan  AFG  1972                 0
3  Afghanistan  AFG  1973                 0
4  Afghanistan  AFG  1974                 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10517 entries, 0 to 10516
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Entity            10517 non-null  object
 1   Code              9263 non-null   object
 2   Year              10517 non-null  int64
 3   Terrorism deaths  10517 non-null  int64
dtypes: int64(2), object(2)
memory usage: 328.8+ KB
None

# Data Cleaning

In [9]:
# Filling missing values
data['Code'].fillna('Unknown', inplace=True)

# Making sure the changes are present
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10517 entries, 0 to 10516
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Entity            10517 non-null  object
 1   Code              10517 non-null  object
 2   Year              10517 non-null  int64
 3   Terrorism deaths  10517 non-null  int64
dtypes: int64(2), object(2)
memory usage: 328.8+ KB
None

# Sorting and Filtering the Data

In [10]:
# Sorts "Terrorism deaths in descending order"
sorted_data = data.sort_values(by='Terrorism deaths', ascending=False)

# Filtering the data to include only the records after the year 2000
filtered_data = data[data['Year'] > 2000]

# Displaying the sorted and filtered data
print(sorted_data.head())
print(filtered_data.head())

      Entity      Code  Year  Terrorism deaths
10221  World  OWID_WRL  2014             44576
10222  World  OWID_WRL  2015             38876
10223  World  OWID_WRL  2016             35109
481     Asia   Unknown  2014             28445
10224  World  OWID_WRL  2017             26843
         Entity Code  Year  Terrorism deaths
30  Afghanistan  AFG  2001               174
31  Afghanistan  AFG  2002                74
32  Afghanistan  AFG  2003               163
33  Afghanistan  AFG  2004               275
34  Afghanistan  AFG  2005               367

# Data Aggregation

In [ ]:
# Grouping the data by 'Year' and sums up the terrorist deaths
yearly_deaths = data.groupby('Year')['Terrorism deaths'].sum().reset_index()

# Displays aggregated data
print(yearly_deaths)

# Finding the maximum and minimum number of terrorist deaths.

In [12]:
# Finding the year with the maximum number of terrorism deaths
max_deaths_year = data.loc[data['Terrorism deaths'].idxmax()]

# Finding the year with the minimum number of terrorism deaths
min_deaths_year = data.loc[data['Terrorism deaths'].idxmin()]

# Displaying the findings
print(max_deaths_year)
print(min_deaths_year)

Entity                 World
Code                OWID_WRL
Year                    2014
Terrorism deaths       44576
Name: 10221, dtype: object
Entity              Afghanistan
Code                        AFG
Year                       1970
Terrorism deaths              0
Name: 0, dtype: object

# Using two methods for the same data

In [ ]:
# Method 1: Using max()
max_deaths = data['Terrorism deaths'].max()
print(f"The maximum number of terrorism deaths: {max_deaths}")

# Method 2: Sorting and selecting the top value
max_deaths_sorted = data.sort_values('Terrorism deaths', ascending=False).iloc[0]
print(f"The maximum number of terrorism deaths: {max_deaths_sorted['Terrorism deaths']}")